<div [@extendMap]="isTopLocationsVisible ? 'closed' : 'open'" class="maps-container">
    <google-map
        #googleMap
        id="landingPage_Map"
        (mapClick)="onMapClick($event)"
        [center]="center"
        [options]="options"
        [zoom]="zoom"
        height="100%"
        width="100%">
        <map-marker
                *ngFor="let marker of mapMarkers"
                [label]="marker.label"
                [options]="marker.options"
                [position]="marker.position"
                [title]="marker.title"
                markerElem="mapMarker"></map-marker>
        <map-marker
                (mapClick)="showDetailsOfMarker(marker)"
                *ngFor="let marker of mapMarkersSights"
                [icon]="marker.icon"
                [label]="marker.label"
                [options]="marker.options"
                [position]="marker.position"
                [title]="marker.title"
                markerElem="mapMarkerExisting"></map-marker>
    </google-map>
</div>

<!-- locations list -->
<div *ngIf="isTopLocationsVisible" [@extendLocations]="isTopLocationsVisible ? 'open' : 'closed'"
     class="top-locations-container">
    <div [style]="'display: flex;align-items: center;justify-content: space-between;'" fxLayout="row">
        <h2>Top Sights near you:</h2>
        <button (click)="onToggleTopLocations(false)" color="primary" mat-mini-fab>
            <mat-icon>keyboard_double_arrow_left</mat-icon>
        </button>
    </div>
    <div *ngFor="let sight of allSightsSortedByDistance">
        <app-sight-list-item (calcRouteEventEmitter)="calcRoute(sight)"
                             (goToSightEventEmitter)="onGoToSight(sight)"
                             [sight]="sight">
        </app-sight-list-item>
    </div>
</div>

<div *ngIf="isTopLocationsVisible" [@extendLocations]="isAddSightVisible ? 'open' : 'closed'"
     class="manage-sight-container">

</div>

<!-- location detail -->
<div [@moveSightsDetailsContainer]="isSightDetailVisible ? 'open' : 'closed'" class="sight-details-view">
    <app-sight-detail #sightDetail
                      (calcRouteEventEmitter)="calcRoute(sightDetail.sight)"
                      (closeEvent)="onCloseSightDetail()"
                      (closeDialogEvent)="onCloseDialog()"
                      [isDetailView]="true">
    </app-sight-detail>
</div>

<!-- Animated Buttons -->
<span>
    <div [@moveMapButtons]="isTopLocationsVisible ? 'open' : 'closed'" class="maps-gotolocation">
        <mat-card-actions>
            <button matTooltip="Go to your location." matTooltipPosition="above" (click)="onGoToLocation()" background-color="primary" class="map-action-button" color="primary"
                    mat-mini-fab>
                <mat-icon>location_on</mat-icon>
            </button>
        </mat-card-actions>
    </div>

    <div [@moveFilterButtonContainer]="isTopLocationsVisible ? 'open' : 'closed'" class="maps-filter-sights-button">
        <mat-card-actions>
            <button matTooltip="Show filter." matTooltipPosition="above" (click)="onShowFilter()" class="map-action-button" color="primary" mat-mini-fab>
                <mat-icon *ngIf="!isFilterVisible">tune</mat-icon>
                <mat-icon *ngIf="isFilterVisible">close</mat-icon>
            </button>
        </mat-card-actions>
    </div>

    <div [@moveLocationButton]="isTopLocationsVisible ? 'open' : 'closed'" class="maps-toggleTopLocations">
        <button matTooltip="Show Top Locations." matTooltipPosition="above"  (click)="onToggleTopLocations(false)" class="map-action-button" color="primary" mat-mini-fab>
            <mat-icon>keyboard_double_arrow_right</mat-icon>
        </button>
    </div>
</span>

<!-- Filter container -->
<div [@visibilityAnimationContainer]="isFilterVisible ? 'open' : 'closed'"
     class="filter-sights-container slider-container">
    <form class="filter-form">
        <mat-form-field appearance="outline" class="mat--fo">
            <mat-label class="label-select-filter">Distance (km)</mat-label>
            <input #radiusInput
                   matInput
                   matNativeControl
                   id="routedetails"
                   value="20"
                   class="label-select-filter"
                   placeholder="10"
                   type="number">
        </mat-form-field>
    </form>

    <mat-form-field appearance="outline" class="filter-form-field">
        <mat-label class="label-select-filter">Sorting mode</mat-label>
        <mat-select [(value)]="filterModeValue" class="mat-select-content" matNativeControl required>
            <mat-option value="distancedescending">Distance descending</mat-option>
            <mat-option value="distanceascending">Distance ascending</mat-option>
            <mat-option value="ratingsdescending">Ratings descending</mat-option>
            <mat-option value="ratingsascending">Ratings ascending</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="filter-form-field">
        <mat-label class="label-select-filter">Distance calculation mode</mat-label>
        <mat-select [(value)]="sightsDistanceCalculation" class="mat-select-content" matNativeControl required>
            <mat-option value="walking">Walking</mat-option>
            <mat-option value="bicycle">Bicycle</mat-option>
            <mat-option value="transit">Transit</mat-option>
            <mat-option value="driving">Driving</mat-option>
        </mat-select>
    </mat-form-field>

    <span>
        <mat-label [textContent]="'Minimum Rating ( '+filterRatingSliderMinimumValue+' ) '"
                   class="label-select-filter">
        </mat-label>
        <mat-slider
                [(value)]="filterRatingSliderMinimumValue"
                [displayWith]="formatLabel"
                aria-label="units"
                max="5"
                min="1"
                step="0.5"
                thumbLabel
                tickInterval="0.5"></mat-slider>
    </span>

    <span>
        <mat-label [textContent]="'Maximum Rating ( '+filterRatingSliderMaximumValue+' ) '"
                   class="label-select-filter"></mat-label>
        <mat-slider
                [(value)]="filterRatingSliderMaximumValue"
                [displayWith]="formatLabel"
                aria-label="units"
                max="5"
                min="1"
                step="0.5"
                thumbLabel
                tickInterval="0.5"></mat-slider>
    </span>

    <div class="filter-center">
        <button (click)="onApplyFilter(radiusInput)" background-color="primary" class="map-action-button"
                mat-raised-button>
            Apply
        </button>
    </div>
</div>

<div [@routeContainerVisibility]="routeEnabled ? 'open' : 'closed'" class="route-option-container">
    <div class="route-details">
        <div>
            <mat-label [textContent]="'Start: '" class="label-route-detail"></mat-label>
            <mat-label [textContent]="' '+routeStart" class="label-route-detail-address"></mat-label>
        </div>
        <br/>
        <div>
            <mat-label [textContent]="'Target:'" class="label-route-detail"></mat-label>
            <mat-label [textContent]="' '+routeTarget" class="label-route-detail-address"></mat-label>
        </div>
        <br/>
        <div class="filter-center">
            <mat-label [textContent]="routeDistance + ' / ' + routeDuration"
                       class="label-route-detail-distance"></mat-label>
        </div>
    </div>

    <mat-form-field appearance="fill" class="filter-form-field">
        <mat-label class="label-select-filter">Route Mode</mat-label>
        <mat-select (selectionChange)="onApplyRouteMode()" [(value)]="routeMode" class="mat-select-content"
                    matNativeControl
                    required>
            <mat-option value="walking">Walking</mat-option>
            <mat-option value="bicycle">Bicycle</mat-option>
            <mat-option value="transit">Transit</mat-option>
            <mat-option value="driving">Driving</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="filter-center">
        <mat-card-actions>
            <button (click)="onClearRoutes()" background-color="primary" class="map-clear-route-button"
                    mat-raised-button>
                Clear route
            </button>
        </mat-card-actions>
    </div>
</div>

<!--div which css moves the autocomplete to the left of the searchbar-->
<div #origin="matAutocompleteOrigin" [style.visibility]="'hidden'" class="sights-search-panel"
     matAutocompleteOrigin></div>

<!--searchbar across sights and GM-->
<div class="map-search-adressbar">
    <mat-form-field color="primary" appearance="fill">
        <mat-label class="address-placeholder-label">Search by sight, label or address</mat-label>
        <input #addressSearch
               id="addressElement"
               [(ngModel)]="addressValue"
               [formControl]="sightSearchCtrl"
               [matAutocompleteConnectedTo]="origin"
               [matAutocomplete]="auto"
               autocapitalize="off"
               autocorrect="off"
               class="address-bar"
               matInput
               spellcheck="off"
               type="text"
               type="text"
               width="300px">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" class="address-autocomplete">
        <mat-option style="height: auto" (onSelectionChange)="onSearchSelectItem(sight)"
                    *ngFor="let sight of searchedSights | async" [value]="sight.name">
            {{sight.name}}
            <mat-label [textContent]="'(' + sight.showDistanceString + ')'"></mat-label>
            <app-star-rating class="search-stars" [clickable]="false" [starCount]="5"
                             [rating]="sight.overallRating"></app-star-rating>
        </mat-option>
    </mat-autocomplete>
</div>
