<mat-card class="sight-panel">
    <mat-card-title>
        <span class="card-title" fxLayout="row">
            <div class="titleforsight" [textContent]="sight.name"></div>
            <span>
                <button matTooltip="Calculate distance." matTooltipPosition="above" (click)="onCalcRoute(sight)" mat-mini-fab>
                    <mat-icon>explore</mat-icon>
                </button>
                <button matTooltip="Look at reviews." matTooltipPosition="above" (click)="onGoToSight(sight)" *ngIf="!isDetailView" mat-mini-fab>
                    <mat-icon>open_in_new</mat-icon>
                </button>
                <button matTooltip="Detailed view." matTooltipPosition="above" (click)="onExpand(sight.uid, sight.name, sight.overallRating, sight.allImageUrl, sight.ratingList)"
                        mat-mini-fab>
                    <mat-icon>expand</mat-icon>
                </button>
                <button matTooltip="Close." matTooltipPosition="above"(click)="onClose()" *ngIf="isDetailView" class="close-button-detail" mat-mini-fab>
                    <mat-icon>close</mat-icon>
                </button>
            </span>
        </span>
    </mat-card-title>
    <mat-card-content>
        <span fxLayout="row" style="display: flex">
            <span style="display: inline-block; width: 230px; height: 150px;overflow: hidden">
                <ngb-carousel *ngIf="sight.allImageUrl.length !== 0" [showNavigationArrows]="false"
                              [showNavigationIndicators]="false">
                        <ng-template *ngFor="let image of sight.allImageUrl" ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img [src]="image" alt="Slide" style="width: 230px; height: 150px">
                            </div>
                       </ng-template>
                </ngb-carousel>
                <span style="display: flex; justify-content: center; align-items: center">
                    <mat-icon *ngIf="sight.allImageUrl.length === 0"
                              [style]="'height: 100px; width: 100px; font-size:100px'">landscape</mat-icon>
                </span>
            </span>
            <span display="flex" fxLayoutAlign="center" style="padding-left: 10px">
                <br/>
                <div class="fxColumn">
                    <div class="fxRow">
                        <app-star-rating [clickable]="false" [rating]=" roundStars(sight.overallRating)"
                                         [starCount]="5"></app-star-rating>
                        <span>&nbsp;({{sight.ratingList.length}} Ratings)</span>
                    </div>
                    <p [textContent]="'(' + sight.showDistanceString + '  /  ' + sight.timeToTarget + ')'"></p>
                    <div>
                        <mat-chip-list>
                            <span *ngFor="let label of sight.labelList">
                                <mat-chip>{{label.name}}</mat-chip>
                            </span>
                        </mat-chip-list>
                    </div>
                </div>
            </span>
        </span>
    </mat-card-content>
    <mat-card-footer>
        <span style="margin-left: 15px">
            <mat-label><strong>Address: </strong> {{sight.address}}</mat-label>
        </span>
    </mat-card-footer>
</mat-card>
<mat-card *ngIf="isDetailView">
    <mat-card-title>
        <span class="fxRow">
            <p>Comments</p>
            <button matTooltip="Add comment." matTooltipPosition="above" *ngIf="currentUserUid != undefined" (click)="onAddComment(sight)"
                    style="-webkit-transform: scaleX(-1); transform: scaleX(-1);" mat-mini-fab>
                <mat-icon>add_comment</mat-icon>
            </button>
        </span>
    </mat-card-title>
    <mat-card-content>
        <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport">
            <div *ngIf="sight.ratingList.length === 0">
                <p>No comments found.</p>
            </div>

            <div *ngIf="sight.ratingList.length !== 0">

                <div *cdkVirtualFor="let comment of sight.ratingList" class="example-item">
                    <mat-card-content>
                        <mat-divider></mat-divider>
                        <div fxLayout="column" class="comment">
                    <span class="fxRow">
                        <p><strong>Author:</strong> {{comment.creator}}</p>
                        <p><strong>Created:</strong> {{comment.createdAt}}</p>
                    </span>
                            <p *ngIf="comment?.comment?.length !==0">{{comment.comment}}</p>
                            <p *ngIf="comment?.comment === undefined">-</p>
                            <app-star-rating [clickable]="true" [rating]="comment.rating" [starCount]="comment.rating">
                            </app-star-rating>
                        </div>
                    </mat-card-content>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </mat-card-content>
</mat-card>
