<span class="app-container">
    <mat-toolbar class="mat-elevation-z6" color="primary">
        <span routerLink="" style="display: flex" fxLayout="row">
            <img src="{{image}}" alt="{{image}}" width="30px" height="35px" style="padding-bottom: 2px" routerLink=""/>
            <h1 class="small-label-header">Students 4 Students - The Helper every newcomer needs!</h1>
        </span>

        <div class="spacer"></div>
        <button mat-button routerLink="">Home</button>
        <button mat-button routerLink="./contact">About Us</button>
        <button mat-button routerLink="./faq">FAQ</button>

        <ng-template [ngIf]="isUserLoggedIn()==true">
            <button matTooltip="Add new sight." matTooltipPosition="above" mat-button (click)="onOpenManageSight()">
                <mat-icon>add_location_alt</mat-icon>
            </button>
        </ng-template>

        <!--profile button-->
        <ng-template [ngIf]="isUserLoggedIn()==true" [ngIfElse]="loggedOut">
            <button matTooltip="Open profile menu." matTooltipPosition="above" mat-button [matMenuTriggerFor]="menu">
                <ng-template [ngIf]="this.checkProfilePictureAvailability()" [ngIfElse]="noProfilePicture">
                    <img class="profilePicture" src="{{this.profilePictureUrl}}" alt="Avatar">
                </ng-template>
                <ng-template #noProfilePicture>
                    <mat-icon>account_circle</mat-icon>
                </ng-template>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="./profile"><mat-icon>manage_accounts</mat-icon>Profile</button>
                <button mat-menu-item routerLink="./myelements"><mat-icon>category</mat-icon>My Elements</button>
                <button mat-menu-item routerLink="" (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
            </mat-menu>
        </ng-template>

        <!--signin button-->
        <ng-template #loggedOut>
            <button mat-flat-button color="accent"  (click)="openLoginDialog()">Sign In</button>
        </ng-template>
    </mat-toolbar>

    <span class="router-container">
        <router-outlet></router-outlet>
    </span>

    <div class="footer-copyright text-center mat-elevation-z6" fxFlexOffset="auto">© 2021 Copyright:
        <a> Students4Students.com</a>
    </div>
</span>
